<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <div>@Html.ActionLink("Télécharger", "Download")</div>
    <div>@Html.ActionLink("Aller au Cegep", "GotoCegep")</div>
    <div>@Html.ActionLink("Aller à Philemon", "Create", "Etudiant")</div>
</div>
</body>
</html>