@model Exercice2_MVC.Models.Etudiant

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <div>Nom: @Model.Nom</div>
    <div>Programme: @Model.Programme</div>
    <div>Age: @Model.Age</div>
    <div>Matricule: @Model.Matricule</div>
    <div>Tel: @Model.Telephone</div>
    <div>courriel: @Model.Courriel</div>
</div>
</body>
</html>